// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header {
  background-color: #a3e8ff;
}

header {
  background-color: #a3e8ff;
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
}

body {
  margin: 0;
}

footer {
  background-color: #a3e8ff;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.main {
  margin: 0 30px 0px;
}

h1 {
  font-size: 25px;
}

td.content {
  width: 66%;
}

.text a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

input#blog_content {
  width: 50%;
}
